galapp/gal.pro.*
galapp/.vs/
galapp/.qmake.stash
galapp/GeneratedFiles/
galapp/debug/
galapp/gal.vcxproj
galapp/gal.vcxproj.*
galapp/release/
galapp/x64/
galapp/ts/.qmake.stash
galapp/gal.aps
*.sln
.vs/